
<% include ./partial/head %>

    <header>
        <% include ./partial/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Market Price</h1>
            <p>Welcome to Market Price</p>
        </div>
    </main>

    <% include ./partial/footer %>
</footer>
