<%- include('./partial/head.ejs') %>
<%- include('./partial/header.ejs') %>
    <nav class="container">

        <main>
            <div class="jumbotron">
                <h1>Market Price</h1>
                <p>Welcome to Market Price</p>
            </div>
        </main>

    <footer>
        <% include ./partial/footer %>
    </footer>

    </nav>
