<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Add Price</h1>
    <form action="/productminimarkets/add" method="post">
        <select name="product">
            <% for(let i=0; i<dataProduct.length; i++) { %>
                <option value="<%= dataProduct[i].id %>"><%= dataProduct[i].name %></option>
            <% } %>
        </select> <br><br>
        <select name="minimarket">
            <% for(let i=0; i<dataMinimarket.length; i++) { %>
                <option value="<%= dataMinimarket[i].id %>"><%= dataMinimarket[i].name %></option>
            <% } %>
        </select><br><br>
        <input type="text" name="price" placeholder="price.."> <br><br>
        <input type="submit" value="Simpan">
    </form>
</body>
</html>