<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Edit Price</h1>
    <form action="/productminimarkets/add" method="post">
        <ul>
            <li><%= dataProductMinimarket.Product.name %></li>
            <li><%= dataProductMinimarket.Minimarket.name %></li>
        </ul>
        <input type="text" name="price" value="<%= dataProductMinimarket.price %>" placeholder="price.."> <br><br>
        <input type="submit" value="Simpan">
    </form>
</body>
</html>