<%- include('../partial/head-client.ejs') %>
<!-- <%- include('../partial/menu-client.ejs') %> -->

<div class="container">
    <div class="w900">
        <h1 class="font-beranda">Price Compare's</h1>
        <p class="quote">Temukan produk dengan harga kompetitif..</p><br><br><br>

        <div class="search-button">
            <ul>
                <li><a href="/searchbyproduct">Cari Product</a></li>
                <li><a href="/searchbyminimarket">Cari Minimarket</a></li>
            </ul>
        </div>
    </div>
</div>