
        <!-- <table class="table table-striped">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Nama Product</th>
                    <th>Tempat</th>
                    <th>Harga</th>
                </tr>
            </thead>
            <tbody>
                <% no = 1 %>
                <% for(let i=0; i<data.length; i++) { %>
                    <tr>
                        <td><%= no %></td>
                        <td><%= data[i].Product.name %></td>
                        <td><%= data[i].Minimarket.name %></td>
                        <td><%= helper.rupiahFormat(data[i].price) %></td>
                    </tr>
                    <% no++ %>
                <% } %>
            </tbody>
        </table> -->