<html>
<body>
    <main>
        <div class="container">
            <h2>Products List</h2>
            <table border='1'>
                <tr>
                  <th><b>No.</b></th>
                  <th><b>Product Name</b></th>
                  <th colspan=2><center><b>Action</b></center></th>
                </tr>
                    <% let no=1 %>
                    <% product.forEach(dataProduct => { %>
                <tr>
                  <td><%= no++ %></td>
                  <td><%= dataProduct.name %></td>
                  <td><a href="/products/edit-product/<%= dataProduct.id %>">Edit</a></td>
                  <td><a href="/products/del-product/<%= dataProduct.id %>" onclick="return confirm('delete this product ?');">Delete</a></td>
                </tr>
              <% }) %>
        </table>
        </div>
        <table>
            <tr>
                <td>
                    <form action="/products/add-product">
                        <input type="submit" value="Add Product" id="bold" />
                    </form>
                </td>
            </tr>
        </table>
        
        
       
    </main>
</body>    
</html>