<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <title>Price Compare</title>
    <style>
        li {
            list-style: none;
        }
        .navbar-default {
            background-color: red;
        }
        .navbar-default .navbar-nav>li>a , .navbar-default .navbar-brand{
            color: white;
        }
        .btn-logout {
            background-color: orange;
        }
    </style>
</head>
<body>