<html>
    <head>
        <meta charset="UTF-8">
        <title>Price Compares</title>
        <link href="https://fonts.googleapis.com/css?family=Dekko" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Molle:400i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Gochi+Hand" rel="stylesheet">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <style>
            * {
                margin: 0;
                padding: 0;
                text-decoration: none;
            }
            body    { 
                padding-top:50px;
                background-color: #d10039;
                /* background: url('./public/img/alfamartbackground.jpg'); */
            }
            li {
                list-style: none;
            }
            .w900 {
                display: table;
                width: 800px !important;
                margin: 0 auto;
                background: white;
                padding: 50px;
                border: 30px solid yellow;
            }
            .font-beranda {
                font-family: 'Molle', cursive;
                font-size: 70px;
                text-align: center;
                color: #E7003E;
                text-shadow: 2px 2px 1px #D4D4D4;
            }
            .quote {
                font-size: 30px;
                color: #4175b5;
                text-align: center;
                margin-top: -10px;
                font-family: 'Gochi Hand', cursive;
            }
            th, td {
                font-family: 'Dekko', cursive;
                font-size: 20px;
            }
            .search-button {
                padding-top: 20px;
                margin: 0 auto;
                width: 100%;
                padding-bottom: 5px;
                /* background: orange; */
            }

            .search-button > ul > li > a {
                font-size: 25px;
                text-align: center;
                width: 100%;
                display: inline-table;
                background: #4175b5;
                color: white;
                padding: 5px;
                margin-bottom: 10px;
            }
            .select {
                width: 500px;
                height: 50px;
                background: lavender;
                border: thin solid #CCC;
                font-size: 20px;
                padding: 5px 5px 5px 20px;
                border-radius: 30px 0 0 30px;
            }
            .cari {
                font-weight: bold;
                width: 80px;
                height: 51px;
                color: white;
                background: orangered;
                border: thin solid #CCC;
                margin-left: -5px;
                font-size: 20px;
                padding: 5px 20px 5px 5px;
                border-radius: 0 30px 30px 0;
            }
            h1 {
                text-align: center;
            }
            .menus {
                width: 800px;
                background-color: green;
                margin: 0 auto;
            }
            .menus > ul > li {
                float: left;
                font-size: 20px;
                padding: 10px 20px;
                font-weight: bold;
            }
            .menus > ul > li > a {
                color: white;
            }
        </style>
    </head>
