<div class="menus">
    <ul>
        <li><a href="/beranda">Home</a></li>
        <li><a href="/searchbyproduct">Product</a></li>
        <li><a href="/searchbyminimarket">Minimarket</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>