<html>
    <head>

    </head>
    <body>
        <h1>Form User Login</h1>
        <form method="POST" action="/login">
            <label>
                Username : 
                <input type="text" name="username">
            </label>
            <br>
            <br>
            <label>
                Password :
                <input type="password" name="password">
            </label>
            <br>
            <br>
            <input type="submit" value="Login !">
        </form>
        <br>
        <a href="/register">Register</a>
    </body>
</html>