<html>
    <head>

    </head>
    <body>
        <form method="POST">
            <br>
            <label>
                    First Name :
                    <input type="text" name="first_name" placeholder="Enter your First Name.." required>
            </label>
            <br>
            <br>
            <label>
                    Last Name :
                    <input type="text" name="last_name" placeholder="Enter your Last Name.." required>
            </label>
            <br>
            <br>
            <label>
                    Username :
                    <input type="text" name="username" placeholder="Enter username.." required>
            </label>
            <br>
            <br>
            <label>
                    Password :
                    <input type="password" name="password" placeholder="Enter password.." required> 
            </label>
            <br>
            <br>
            <label>
                    Email :
                    <input type="text" name="email" placeholder="Enter your e-mail.." required>
            </label>
            <br>
            <br>
            <label>
                    Gender
                    <input type="radio" name="gender" value="male" checked> Male                    
                    <input type="radio" name="gender" value="female"> Female<br>
            </label>
            <br>
            <br>
            <input type="submit" value="Register !">
        </form>
    </body>
</html>